<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>

<body>
	<div class="productsContainer">
		<% for(var i = (writeInfo.page * writeInfo.page_num) - writeInfo.page_num; i < (writeInfo.page * writeInfo.page_num); i++) { %>
		<% if(i < writeInfo.length) { %>
		<div class="product" onclick="location.href='/users/writer/read/<%= write[i]._id %>' ">
			<img src="/users/img/<%= write[i]._id %>" alt="">
			<div class="productTitle"><%= write[i].name %></div>
			<div><%= write[i].price %></div>
			<div class="productMiddle">
				<span>입찰 <%= write[i].buyCount %></span>
				<span>조회 <%= write[i].watcher %></span>
			</div>
			<div>판매자 : <%= write[i].writer %></div>
			<div>● <%= write[i].maxTime %></div>

			<button>수정</button>
			<button>삭제</button>
		</div>

		<% } %>

		<% } %>
	</div>



	<div>
		<form name="paging">
			<input type="hidden" name="name">
		</form>

		<%
            for(var j = 0; j < writeInfo.length / writeInfo.page_num; j++){
            %>
		[<a href="/users/mypage/<%= j + 1 %>"><%= j + 1 %></a>]
		<%
            }
            %>


	</div>
</body>

</html>
