<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<p>이름 : <%= user.name %></p>

	<p>생년월일 : <%= user.birth %></p>
	<p>전화번호 : <%= user.phoneNum %></p>
	<p>email : <%= user.eMail %></p>
	<p>계좌번호 : <%= user.account %></p>
	<p>주소 : <%= user.address %></p>
	<p>신용도 : <%= user.credit %></p>
	
	<form action="/users/login" method="post">
		<input type="text" style="display:none" value="<%= user.id%>" name="id">
		<input type="text" style="display:none" value="<%= user.password%>" name="password">
		<input type="submit" value="로그인">
	</form>

</body>
</html>