<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/stylesheets/read/read.css">
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script>
		$('.content').fadeIn(11500).delay(3500).fadeOut(11500);
	</script>
</head>

<body>
	<div id="headPage">
		<div id="top">
			<div>
				<span class="number">+ 82 010 1234 5678</span>
				<span class="email">info@gmail.com</span>
			</div>
			<span class="space"></span>
			<div id="headRight">
				<span>Hello! 1000hg</span>
				<form action="/users/mypage">
					<input type="submit" class="a" value="My Page">
				</form>

				<form action="/users/logout" method="post">
					<input type="submit" class="a" value="Logout">
				</form>
				<!--<a href="#" class="a">My Page</a>
				<a href="#" class="a">Logout</a>-->
			</div>
		</div>
		<div id="middle">
			<h1>Sadagu</h1>
			<div class="searchContainer">
				<form action="/users/writer/search" class="field-container" method="post">
					<input type="text" placeholder="Search..." class="field" name="name" />
					<div class="icons-container">
						<div class="icon-search"></div>
						<div class="icon-close">
							<div class="x-up"></div>
							<div class="x-down"></div>
						</div>
					</div>
				</form>
				<img src="/images/main/a.jpg" alt="" class="img1">
				<form action="/users/writer" id="moveWrite">
					<input type="submit" value="Write">
				</form>
				<!--<span>Write</span>-->
			</div>
		</div>
		<div id="foot">
			<ul>
				<li>Home</li>
				<li>About</li>
				<li>Pages</li>
				<li>Shop</li>
				<li>Blog</li>
				<li>Contact</li>
			</ul>

		</div>
	</div>

	<div id="borderPage"></div>


	<div id="sellPage">
		<h1>Select Products</h1>


		<div class="goodsImg">
			<h2><%= write.name %></h2>
			<img src="/users/img/<%= write._id %>" alt="">
		</div>

		<div class="goodsInfo">
			<div>
				<div class="goodsTop">
					<div>현재가 <%= write.maxPrice %>원</div>
					<div>남은 시간 1일 6시간 16분 16초</div>
				</div>
				<table>
					<tbody>
						<tr>
							<td>경매 기간</td>
							<td><%= write.minTime %>  ~  <%= write.maxTime %></td>
						</tr>
						<tr>
							<td>시작가</td>
							<td><%= write.minPrice %>원</td>
						</tr>
						<tr>
							<td>입찰 단위</td>
							<td><%= write.unit %>원</td>
						</tr>
						<tr>
							<td>입찰수</td>
							<td><%= write.buyCount %></td>
						</tr>
						<tr>
							<td>현재 입찰자</td>
							<td>1000hg</td>
						</tr>
						<tr>
							<td>조회수</td>
							<td><%= write.watcher %></td>
						</tr>
						<tr>
							<td>작성자</td>
							<td><%= write.writer %></td>
						</tr>
						<tr>
							<td>물품수</td>
							<td><%= write.count %></td>
						</tr>
						<tr>
							<td>원산지</td>
							<td><%= write.origin %></td>
						</tr>

						<tr>
							<td>배송 방법</td>
							<td><%= write.deliverWay %></td>
						</tr>

						<tr>
							<td>배송 가격</td>
							<td><%= write.deliverPrice %></td>
						</tr>
					</tbody>
				</table>

				<div class="explain"><%= write.explain %>
				</div>

			</div>
		</div>
		<div class="goodsFoot">
			<form action="#">
				<div class="buttons">
					<button class="pulse">입찰</button>
				</div>
			</form>
		</div>


	</div>





	<div class="about">
		<div id="aboutFirst" class="aboutContainer">
			<div class="aboutTitle">About US</div>
			<div class="aboutContent">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</div>
		</div>
		<div id="aboutSecond" class="aboutContainer">
			<div class="aboutTitle">CATEGORIES</div>
			<div class="aboutContent">
				<p>Fashion Sneakers</p>
				<p>Jackets</p>
				<p>Outdoor Shop</p>
				<p>Pants</p>
				<p>Shirts & Tops</p>
				<p>Swim Shop</p>
				<p>Swimwear</p>
			</div>
		</div>

		<div id="aboutThird" class="aboutContainer">
			<div class="aboutTitle">MY ACCOUNT</div>
			<div class="aboutContent">
				<p>Orders</p>
				<p>Jackets</p>
				<p>Compare</p>
				<p>Wishlist</p>
				<p>Log In</p>
				<p>Register</p>
			</div>
		</div>


		<div id="aboutFourth" class="aboutContainer">
			<div class="aboutTitle">CONTACT INFO</div>
			<div class="aboutContent" id="aboutFourthConainer">
				<div>
					<img src="/images/main/position.png" alt="">
					<p id="firstP">c/o Giunti International Division Via G.B. Pirelli, 30 20124 Milan</p>
				</div>


				<div>
					<img src="/images/main/phone.png" alt="">
					<p>+025 2155 3255</p>
				</div>


				<div>
					<img src="/images/main/mail.png" alt="">
					<p>info@gmail.com</p>
				</div>

			</div>
		</div>
	</div>

	<div id="footPage">
		<span>Copyright © 2020. All Rights Reserved.</span>
	</div>
</body></html>
